.landing {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &-link {
    margin: 10px;
    img {
      border-radius: 10px;
    }
  }
}

.header {
  width: 100%;
  font-size: 28px;
  padding: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: -10px;
  font-family: "Stardos Stencil";
}

button {
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .landing-link {
    img {
      width: 95%;
      margin: auto;
    }
  }
}
