<div class="cyberpunk-container">
  <h2>Cyberpunk: Gangs of Night City</h2>
  <div class="dwfa-form flex-row align-center">
    <mat-form-field appearance="fill" class="full-width swor-select">
      <mat-label>Battle Sequence</mat-label>
      <mat-select
        [(ngModel)]="selectedAction.value"
        (selectionChange)="setImage()"
      >
        <mat-option
          *ngFor="let sequence of battleSequence"
          [value]="sequence.value"
        >
          {{ sequence.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width swor-select">
      <mat-label>Action Sequence</mat-label>
      <mat-select
        [(ngModel)]="selectedAction.value"
        (selectionChange)="setImage()"
      >
        <mat-option
          *ngFor="let action of actionSequence"
          [value]="action.value"
        >
          {{ action.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <img *ngIf="imgUrl" [src]="imgUrl" alt="Action" class="action-image" />
</div>
