.cyberpunk-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dwfa-form {
  width: 100vw;
}

.action-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
